# Dependencias Node
node_modules/

# Vite
.vite/
dist/

# Variables privadas
.env
.env.*

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/

# Python
__pycache__/
*.pyc

# Modelos temporales
*.keras
*.h5
backend/*firebase-adminsdk*.json
