/*
 * Proyecto: FitoLente
 * Autores:
 * Josue Arturo Juarez Rangel
 * Areli Jimenez Contreras
 * Juan Manuel Valerio Astorga
 *
 * Universidad Tecnológica de Tula-Tepeji
 */
.reporte-primaria{

    width:90%;

    max-width:480px;

    margin:auto;

    background:#2b2b2b;

    color:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 4px 15px rgba(0,0,0,.3);

}



.header-primaria{

    background:#397800;

    text-align:center;

    padding:28px;

}



.header-primaria h1{

    font-size:40px;

    margin:0;

}



.header-primaria p{

    margin-top:8px;

}



.datos-primaria{

    display:flex;

    justify-content:space-around;

    padding:15px;

    background:#202020;

}



.datos-primaria div{

    text-align:center;

}



.datos-primaria strong{

    display:block;

    color:white;

    margin-top:5px;

}



.imagen-primaria{

    display:flex;

    justify-content:center;

    padding:20px;

}



.imagen-primaria img{

    width:260px;

    height:260px;

    object-fit:cover;

    border-radius:15px;

    border:3px solid #397800;

}



.reporte-primaria section{

    padding:22px;

}



.reporte-primaria label{

    color:#aaa;

}



.reporte-primaria h2{

    font-size:28px;

    margin-top:8px;

}



.barra-primaria{

    width:100%;

    height:18px;

    background:#444;

    border-radius:20px;

    overflow:hidden;

}



.progreso-primaria{

    height:100%;

    background:#76c442;

}



.accion-primaria{

    background:#1c1c1c;

    margin:18px;

    padding:18px;

    border-radius:12px;

}



.aviso-primaria{

    background:#4b2d05;

    color:#ffbf2f;

    margin:18px;

    padding:18px;

    border-radius:12px;

}



.footer-primaria{

    background:#397800;

    text-align:center;

    padding:10px;

}
.reporte-primaria section{
    padding:22px;
}


.reporte-primaria p{

    color:white;

    line-height:1.6;

}


/* Separación entre botones */

.acciones-historial{

    display:flex;

    gap:18px;

    align-items:center;

}

.btn-download,
.btn-delete{

    width:40px;
    height:40px;

    border:none;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#2e8b57;
    color:white;

    cursor:pointer;

    font-size:20px;
}

.btn-download svg,
.btn-delete svg{

    width:20px;
    height:20px;
}